.col-md-6{
  max-width: 71% !important;
}
i {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#sub_sheets{
  display: none;
}
h4#sheet-title{
  display: none;
}
.input-grp{
	background-color: lightslategrey;
	color: #fff;
	padding: 5px 10px 5px;
	margin: 10px;
}

.input-gry h5{
	font-weight: 600;
}